body {
  padding: 50px;
  font: 16pt "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#game {
 padding: 1em;
}

.message {
  color: blue
}

.right {
  border: 10px solid green;
  background-color: green;
}

.wrong {
  border: 10px solid red;
  background-color: red;
}
